# Dependencies
node_modules/


# Build
dist/

# Logs
logs/
*.log
pnpm-debug.log*

# Env
.env*
!.env.example

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# Prisma
# Prisma
/src/generated/prisma

# Junk
.DS_Store

.vscode/
*.swp


