services:
  app:
    build:
      context: .
      target: runner
    container_name: express-typescript-boilerplate-app
    ports:
      - "3333:3000"
    env_file:
      - .env.example
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/express_boilerplate?schema=public
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
      TEST_MAILPIT_URL: http://mailpit:8025
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    command: sh -c "node dist/app/server.js"
    networks:
      - app-network
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: express_boilerplate
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/init-test-db.sql:/docker-entrypoint-initdb.d/init-test-db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - app-network
    restart: unless-stopped

  k6:
    image: grafana/k6:latest
    container_name: k6
    environment:
      K6_OUT: json=/results/test_results.json
    working_dir: /scripts
    volumes:
      - ./src/tests/perf:/scripts
      - ./src/tests/perf/results:/results
    networks:
      - app-network

  tests:
    image: node:22-alpine
    container_name: tests
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env.example
    environment:
      IS_DOCKER: "true"
      NODE_ENV: test
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/express_boilerplate_test?schema=public
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
      TEST_MAILPIT_URL: http://mailpit:8025
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      mailpit:
        condition: service_started
    command: sh -c "corepack enable pnpm && pnpm install --frozen-lockfile && pnpm prisma generate && pnpm prisma db push && pnpm test"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
